<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürün Ekle</title>
    <link rel="stylesheet" href="/css/stil.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/urun-ekle" class="aktifBaglanti">Ürün Ekle</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <h1>Ürün Ekleme Formu</h1>
        <form action="/urun" method="post">

        Ürün Adı <input type="text" name="urun_adi" id="urun_adi">
        <input type="submit" name="kaydet" value="Kaydet">
        </form>
    </main>

    
</body>
</html>